@charset "utf-8";
/* CSS Document */

.showcase{
	background:url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/97/46/2257f0c6f5c57d9.jpg);
	width:100%;
	height:92vh;}
	
.head {
	font-weight:bold;}
.text{
	color:#DAF7A6;}
